@font-face {
    font-family: "Barlow";
    src: url('~/public/assets/font/barlow/Barlow-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: "Barlow";
    src: url('~/public/assets/font/barlow/Barlow-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Barlow";
    src: url('~/public/assets/font/barlow/Barlow-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: "Barlow";
    src: url('~/public/assets/font/barlow/Barlow-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: "Barlow";
    src: url('~/public/assets/font/barlow/Barlow-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: "Barlow";
    src: url('~/public/assets/font/barlow/Barlow-ExtraBold.ttf');
    font-weight: 800;
}

$primary: #002EFF;
$primaryHover: #5C79FF;
$primaryPressed: #0027D6;
$primaryAlt: #001FAD;
$primaryDark: #00115C;
$primaryBlack: #0E1652;
$secondary: #FF3D00;
$black: #000000;
$grayLight: #EDEEF6;
$emerald: #9BF8DB;
$graySlow: #F9F9FD;
$grayRegular: #3A3E65;
$grayNormal: #707499;
$secondaryHover: #FF7B52;
$secondaryPressed: #D63300;
$greyFocus: #EDEEF7;
$redDark: #DF3424;
$disableButton: #EEEEF1;
$textDisanledButton: #CDCDD6;
$primaryBlur: #021C77;
$grayContent: #D6D8EB;
$borderRadio: #898B9F;

$heightHeader: 64px;
$heightFooter: 80px;
$widthButton: 264px;
$widthButtonpeque: 104px;

html,
body {
    font-family: 'Barlow' !important;
    font-size: 16px;
    font-weight: 400;
    min-width: 100vw;
    min-height: 100vh;
    font-style: normal;
    scroll-behavior: smooth;
}

* {
    font-family: 'Barlow' !important;
}

  .fondo-navbar {
        border-radius: 48px;
        background: linear-gradient(90deg, rgba(26, 51, 162, 0.28) 0%, rgba(52, 70, 154, 0.12) 100%);
        margin-top: 32px;    
        padding: 20px 20px 20px 32px;
        backdrop-filter: blur(46px);
}

.theme-color {
    .logo-white {
        display: block;
    }

    .logo-color {
        display: none;
    }

    .bg-white {
        .logo-white {
            display: none;

        }

        .logo-color {
            display: block;
        }
    }
}


.alinear-middle {
    margin-top: auto;
    margin-bottom: auto;
}

.theme-white {
    .logo-color {}

    .logo-white {
        display: none;
    }

    .bg-primary {
        .logo-white {
            display: flex;
        }

        .logo-color {
            display: none;
        }
    }
}

.bg-grat-content {
    background-color: $grayContent;
}

.border-color-radio {
    border-color: $borderRadio;
}

.border-3 {
    border-width: 3px;
}

.text-3-5xl {
    font-size: 2rem;
}

.text-base-m {
    font-size: 1.125rem;
}

.bg-primary-deg {
    background: rgba(14, 22, 82, 0.4);
}

.text-1xl {
    font-size: 1.25rem;
}

.text-base-s {
    font-size: 0.875rem;
}

.text-4-5xl {
    font-size: 2.5rem;
}

.text-6xl {
    font-size: 3.25rem;
}

.width-default-button {
    min-width: $widthButton;
}

.width-peque-button {
    width: $widthButtonpeque;
}

.h-header {
    height: $heightHeader;
    min-height: $heightHeader;
}

.h-footer {
    height: $heightFooter;
    min-height: $heightFooter;
}

.h-70vh {
    height: 70vh;
}

.bg-primary-gradient {
    background: linear-gradient(0deg, rgba(0, 17, 92, 0.5), rgba(0, 17, 92, 0.5));
}

.container-fluid {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.container {
    padding-left: 10rem;
    padding-right: 10rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

.container-2 {

    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 900px;
}

.text-error {
    color: $redDark !important;
}

.border-red-dark {
    border-color: $redDark;
}

.text-red-dark {
    color: $redDark;
}

.text-black {
    color: $black
}

.text-gray-normal {
    color: $grayNormal;
}

.bg-gray-slow {
    background-color: $graySlow;
}

.text-disabled-button {
    color: $disableButton;
}

.disabled\:bg-disabled-button:disabled {
    background-color: $disableButton;
}

.disabled\:text-disabled-button:disabled {
    color: $textDisanledButton;
}

.text-gray-light {
    color: $grayLight;
}

.bg-primary-black {
    background-color: $primaryBlack;
}

.bg-gray-light {
    background-color: $grayLight;
}

.bg-secondary-hover {
    background-color: $secondaryHover;
}

.bg-primary-hover {
    background-color: $primaryHover;
}

.bg-primary-alt {
    background-color: $primaryAlt;
    ;
}

.hover\:bg-secondary-hover:hover {
    background-color: $secondaryHover;
}

.hover\:bg-primary-hover:hover {
    background-color: $primaryHover;
}

.hover\:border-primary:hover {
    border-color: $primaryHover;
}

.hover\:bg-grey-hover:hover {
    background-color: $greyFocus;
}

.focus\:bg-grey-focus:focus {
    background-color: $graySlow;
}

.active\:bg-secondary-pressed:active {
    background-color: $secondaryPressed;
}

.active\:bg-primary-pressed:active {
    background-color: $primaryPressed;
}

.focus\:bg-secondary-pressed:focus {
    background-color: $secondaryPressed;
}

.focus\:bg-primary-pressed:focus {
    background-color: $primaryPressed;
}

.box-shadow-default {
    box-shadow: 0px 4px 16px rgba(0, 41, 80, 0.2);
}

.bg-emerald {
    background-color: $emerald;
}

.bg-primary-dark {
    background-color: $primaryDark;
}

.w-70p {
    width: 70%;
}

.min-h-64 {
    min-height: 470px;
}

.min-h-128 {
    min-height: 472px;
    max-width: 592px;
}

.pt-icon {
    padding-top: 2px;
}

.bg-gray-dark {
    background: rgba(14, 22, 82, 0.4);
}

.text-gray-regular {
    color: $grayRegular;
}

.top-40-p {
    top: 40%;
}

.-translate-y-40p {
    top: 40;
}

.top-1r {
    top: -1rem;
}

.w-180px {
    width: 180px;
}

.mxw-180px {
    max-width: 180px;
}

.bg-dark {
    background-color: --dark
}

.bg-gray {
    background-color: --gray
}


.h-header-screen {
    height: calc(100vh - $heightHeader);
}

.border-gray-light {
    border-color: --gray-light
}

.border-primary {
    border-color: $primary
}

.outline-primary {
    outline-color: $primary
}

.text-primary {
    color: $primary
}

.text-secondary {
    color: $secondary
}

.text-warning {
    color: --warning
}


.text-dark {
    color: --dark
}

.bg-primary {
    background-color: $primary
}

.hover\:bg-primary:hover {
    background-color: $primary
}

a {
    cursor: pointer;
    transition: all .3s;
}

.bg-secondary {
    background-color: $secondary
}

.hover\:bg-secondary:hover {
    background-color: $secondary
}

.hover\:bg-primary:hover {
    background-color: $primary
}

.duration-3 {
    transition-duration: .3s;
}

.hover\:bg-dark:hover {
    background-color: --dark
}

.top-center {
    top: calc(50% - 12px);
}

.swiper-pagination-bullet {
    background-color: #fff !important;
    background: #fff !important;
    opacity: 1;
    margin: 0 7px !important;
}

// .swiper-pagination-bullet-active{
//     background-color: --warning) !important;
//     outline: 2px solid --warning
//     outline-offset: 3px;
// }


.from-dark {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
}

.rounded-defauilt {
    border-radius: 12px;
}

.max-w-36 {
    max-width: 36px;
}

.separation {
    display: flex;
    height: 100%;
    min-height: 2.5rem;
    width: .1rem;
    position: relative;
    background-color: #494F51;
    border-radius: 1rem;
    transform: rotate(15deg);
}

.border-b-3 {
    border-bottom-width: 3px;
}

.border-t-3 {
    border-top-width: 3px;
}

.slide-cover {
    position: relative;
}

.slide-cover::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.top-center-5xl {
    top: calc(50% - 1.5rem);
}

.bottom--0 {
    bottom: -100%;
}

.bg-dark-opacity {
    background-color: rgba(0, 0, 0, 0.75);
}

.border-dark-light {
    border-color: --dark-light
}


.at-menu-nav {
    margin: 0 !important;
    padding-right: 1.5rem;
}

.at-menu-nav.active>a {
    color: $primary;
    border-bottom: 3px solid $primary;
}

.at-menu-nav>a {
    border-bottom: 3px solid transparent;
    transition: all .3s;
}

.at-menu-nav>a:hover {
    color: $primary;
    border-bottom: 3px solid $primary;
    background-color: transparent;
}

.transition-all-3s {
    transition: all .3s;
}

.at-menu-nav .at-menu-nav-content {
    max-height: 0;
    transition: all .3s;
    border-top: transparent;
    transition-property: border-top .001s;
}

.min-width-40 {
    min-width: 40px;
}

.label-input {
    :nth-child(3) {
        display: none;
    }

    &.error {
        >span {
            display: flex;
            color: $redDark !important;
        }

        input {
            padding-right: 3rem;
        }
    }
}

button {
    &.disabled {
        pointer-events: none;
    }
}

.group-input {
    &.error {
        border-color: $redDark;
    }

    .input {
        &:focus {
            ~.label {
                top: .25rem;
                font-size: 0.75rem;
            }
        }

        &:focus-within {
            ~.label {
                top: .25rem;
                font-size: 0.75rem;
            }
        }

        &.has-content {
            ~.label {
                top: .25rem;
                font-size: 0.75rem;
            }
        }
    }

    .label {
        top: .85rem;
    }
}

.top-lg {
    top: 1.125rem;
}

.left-lg {
    left: 1.125rem;
}

.min-w-50 {
    min-width: 50%;
}

.bg-primary-blur {
    background: rgba(2, 28, 119, 0.7);
}

// .has-content ~ .peer-input-label{
//     top: 1.75rem;
//     font-size: 0.75rem;
// }

.info-teacher {
    bottom: 1.25rem;
    left: 1.5rem;
    width: auto;
    max-width: 87%;
}

.radio-input {
    &:hover {
        .circle {
            border-color: $primaryHover;
        }

        input[type=radio]:checked {
            ~.circle {
                border-color: $primaryHover;

                .point {
                    background-color: $primaryHover;
                }
            }
        }
    }

    input[type=radio]:checked {
        ~.circle {
            border-color: $primary;

            .point {
                background-color: $primary;
            }
        }
    }
}

.paragraph-cut {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.text-cut {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.backgraund-blur {
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(37px);
    max-width: 557px;
    min-width: 360px;
    min-height: 520px;
    padding: 65px;
}

.min-h-title {
    min-height: 48px;
}

.shake-vertical {
    -webkit-animation: shake-vertical 7s infinite;
    animation: shake-vertical 7s infinite;
}

.wdt-t {}

.wdt-st {
    width: 265px;
    color: var(--on-white, #FFF);
    text-align: center;
    /* Medium/Large */
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    /* 122.222% */
}

.container-wdt {
    height: 472px;
    max-width: 592px;
}

.fondo-summit {
    background-image: url('../img/entel_fondo_2.png');
    background-size: cover;
    background-position: center;
}

.fondo-rutas {
    border-radius: 24px;
    background: linear-gradient(0deg, rgba(0, 17, 92, 0.40) 0%, rgba(0, 17, 92, 0.40) 100%), url('../img/ruta-entel.jpg') lightgray -75.224px 0px / 141.742% 100% no-repeat;
}

.fondo-hero {

    background: linear-gradient(0deg, rgba(0, 17, 92, 0.5), rgba(0, 17, 92, 0.5)), url('../img/hero-eventos-entel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fondo-hero-2 {

    background: linear-gradient(0deg, rgba(0, 17, 92, 0.5), rgba(0, 17, 92, 0.5)), url('../img/entel_fondo_2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.m-w-300{
    max-width: 300px;
    gap: 16px;
}


.gap-16 {
    gap: 16px;
    margin-top: 30px;
}

.logo-entel {
    width: 244px;
    height: 114px;
}

.logo-entel-xl {

    width: 408.189px;
    height: 180px;
    flex-shrink: 0;
}

.bg-darkblue {

    background: #0A0A1F;
}
.text-white {
    color: #FFF;
}

.text-gradient {
    /* Medium/H4 */
    font-family: Barlow;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    /* 112.5% */
    background: linear-gradient(104deg, #FFF 0%, #6593E9 90.3%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-par {
    color: #FFF;

    /* Regular/Large */
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    flex: 1 0 0;
    /* 122.222% */
}

.encima{
    z-index: 9999999;
}


.text-entel-ruta {
    color: var(--on-white, #FFF);
    text-align: center;
    /* Medium/H3 */
    font-family: Barlow;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    /* 110% */

}

.sub-text-entel-ruta {
    color: var(--on-white, #FFF);
    text-align: center;
    /* Medium/Large */
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    /* 122.222% */
}

/**
 * ----------------------------------------
 * animation shake-vertical
 * ----------------------------------------
 */
@-webkit-keyframes shake-vertical {

    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    80% {
        -webkit-transform: translateY(6.4px);
        transform: translateY(6.4px);
    }

    90% {
        -webkit-transform: translateY(-6.4px);
        transform: translateY(-6.4px);
    }
}

@keyframes shake-vertical {

    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    80% {
        -webkit-transform: translateY(6.4px);
        transform: translateY(6.4px);
    }

    90% {
        -webkit-transform: translateY(-6.4px);
        transform: translateY(-6.4px);
    }
}


@media (max-width: 640px) {
    .container-fluid {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .container {
        padding-left: 1rem;
        padding-right: 1rem;

        &.container-sm {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .sm\:h-75 {
        height: 75vh;
    }



}

@media (max-width: 1024px) {}


@media (min-width: 1536px) {
    .container-fluid {
        min-width: 100%;
    }

    .contenedoir-notas {
        max-width: 900px;

    }

}

@media (min-width: 1280px) {}

@media (min-width: 1024px) {
    .min-h-64 {
        min-height: 290px;
    }

    .min-h-128 {
        min-height: 472px;
        max-width: 592px;
    }
}

@media (min-width: 768px) {
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    .lg\:text-3-5xl {
        font-size: 2rem;
    }

    .lg\:text-base {
        font-size: 16px;
    }

    .min-h-64 {
        min-height: 290px;
    }

    .min-h-128 {
        min-height: 472px;
        max-width: 592px;
    }
    

}

@media (min-width: 640px) {
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    .md\:width-default-button {
        min-width: $widthButton;
    }

    .md\:width-peque-button {
        width: $widthButtonpeque;
    }

    .md\:h-header {
        height: $heightHeader;
        min-height: $heightHeader;
    }

    .md\:h-footer {
        height: $heightFooter;
        min-height: $heightFooter;
    }

    .md\:bg-transparent-i {
        background-color: transparent !important;
    }

}

@media (max-width: 640px) {
    .sm-pr-0 {
        padding-right: 0 !important;
    }

    .sm-pl-0 {
        padding-left: 0 !important;
    }

}

@media (max-width: 768px) {
    
}

@media (min-width: 768px) {
    .md\:bg-transparent-i {
        background-color: transparent !important;
    }

  

}